header {
	width: 100%;
	height: 120px;
	position: absolute;
	z-index: 2;
}

.navbar {
	width: 100%;
	height: 120px;
	transition: all .4s linear;
	z-index: 1;
}

.fluid-logo {
	width: 19%;
	float: left;
	padding-top: 49px;
	z-index: 9999;
}

.fullscreen-menu {
	position: relative;
	width: 100%;
	background: #333;
}

#wrapper-nav {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	top: -100%;
}

#main {
	width: 100%;
	height: 100%;
	position: relative;
	-webkit-transform: translateX(250px);
	transform: translateX(250px);
	-webkit-transform: translate3d(250px,0,0);
	transform: translate3d(250px,0,0);
	-webkit-transition: 300ms ease all;
	transition: 300ms ease all;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.show-nav #main {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	z-index: 1;
}

#menu {
	width: 250px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #142632;
	background-image: linear-gradient(180deg, rgba(22,27,38,0.1) 0% ,rgba(20,20,38,0.3) 100%);
	color: #fff;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
	-webkit-flex-flow: row wrap;
	flex-direction: column;
}

#menu ul {
	margin-top: 120px;
}

#menu ul li {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	justify-content: flex-start;
}

#menu ul li a {
	width: 250px;
	font-weight: 600;
	font-size: 1.7em;
}

nav ul li a:hover {
	background-color: #24a1fd;
	margin-left: 6px;
	transition: ease 300ms all;
}

.btn-responsive { 
	width: 55px;
	height: 46px;
	position: absolute;
	right: -20px;
	top: 36px;
	cursor: pointer;
	z-index: 9999;
}

.btn-responsive:after {
	position: absolute;
	top: 22px;
	right: 20px;
	display: block;
	height: 8px;
	width: 20px;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	content: ''
}

.btn-responsive:before {
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
	position: absolute;
	top: 16px;
	right: 20px;
	display: block;
	height: 2px;
	width: 20px;
	background: #fff;
	content: ''
}

/*.btn-responsive .menu-opened:after {
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
	top: 23px;
	border: 0;
	height: 2px;
	width: 19px;
	background: #fff;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg)
}

.btn-responsive .menu-opened:before {
	top: 23px;
	background: #fff;
	width: 19px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg)
}*/

.headline {
	position: relative;
	width: 100%;
	height: 100%;
	display: -webkit-flex;
  	display: flex;
    -webkit-align-items: center;
  	align-items: center;
    -webkit-justify-content: center;
  	justify-content: center;
}

.headline h1 {
	color: #fff;
	font-weight: 800;
	font-size: 7.5vh;
    line-height: 58px;
	letter-spacing: 3px;
	text-align: left;
	text-transform: uppercase;
	margin-top: 120px;
}

.headline span {
	color: #24a1fd;
}

.headline h4 {
	color: #fff;
	font-weight: 300;
	font-size: 2.8vh;
	line-height: 30px;
	letter-spacing: 1px;
	margin-left: 100px;
	margin-right: 100px;
}

.headline .btn {
	width: auto;
    height: 62px;
    float: right;
    line-height: 64px;
    color: #fff;
    margin-top: 30px;
    padding: 0 34px 0 34px;
    background-color: #24a1fd;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.6em;
    border-radius: 0px;
}

.headline .btn:hover {
	background-color: #24a1fd;
}

.fluid-container .loved {
	color: #fff;
	margin-top: -60px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	-webkit-align-items: flex-end;
	align-items: flex-end;
}

.fluid-container .fa {
	color: #24a1fd;
	font-size: 1.3em;
	padding: 0 6px 0 6px;
}

@media only screen and (min-width: 2560px) {
	.fluid-logo {
		width: 25%;
		padding-top: 76px;
	}	

	#main {
		-webkit-transform: translateX(400px);
		transform: translateX(400px);
		-webkit-transform: translate3d(400px,0,0);
		transform: translate3d(400px,0,0);
	}

	.btn-responsive {
		top: 62px;
		width: 82px;
		height: 66px;
	}

	.btn-responsive:after {
		top: 30px;
		height: 18px;
		width: 42px;
		border-top: 4px solid #fff;
    	border-bottom: 4px solid #fff;
	}

	.btn-responsive:before {
		height: 4px;
		width: 42px;
	}

	#menu {
		width: 400px;
	}

	#menu ul {
		margin-top: 165px;
	}

	#menu ul li {
		height: 86px;
    	line-height: 86px;
	}

	#menu ul li a {
		width: 350px;
		font-size: 2.8em;
	}

	.headline h1 {
		font-size: 8vh;
	    line-height: 100px;
	    letter-spacing: 4px;
	}

	.headline h4 {
		font-size: 2.6vh;
		line-height: 50px;
		letter-spacing: 2px;
		margin-left: 200px;
		margin-right: 200px;
	}

	.headline .btn {
	    height: 110px;
	    line-height: 110px;
	    padding: 0 48px 0 48px;
	    font-size: 3em;
	}

	.fluid-container .loved {
		font-size: 2em;
		margin-top: -100px;
	}

	.fluid-container .fa {
		padding: 0 10px 0 10px;
	}
}

@media only screen and (max-width: 1920px) {
	.fluid-logo {
		width: 22%;
		padding-top: 56px;
	}	

	.headline h1 {
		font-size: 7.7vh;
	    line-height: 82px;
		letter-spacing: 3px;
	}

	.headline h4 {
		font-size: 3vh;
		line-height: 40px;
		letter-spacing: 2px;
	}

	.headline .btn {
	    height: 82px;
	    line-height: 82px;
	    padding: 0 40px 0 40px;
	    font-size: 2.2em;
	}

	.fluid-container .loved {
		font-size: 1.4em;
		margin-top: -80px;
	}
}

@media only screen and (max-width: 1440px) {
	.fluid-logo {
		width: 26%;
	}

	.headline h1 {
		font-size: 7vh;
	    line-height: 54px;
	}

	.headline h4 {
		font-size: 2.8vh;
		line-height: 28px;
		letter-spacing: 2px;
	}

	.headline .btn {
		height: 62px;
	    line-height: 62px;
	    padding: 0 28px 0 28px;
	    font-size: 1.8em;
	    right: -40px;
	}

	.fluid-container .loved {
		font-size: 1.2em;
	}
}

@media only screen and (max-width: 1024px) {
	.fluid-logo {
		width: 30%;
	}

	.headline h1 {
		font-size: 6vh;
    	line-height: 38px;
	}

	.headline h4 {
		font-size: 2.7vh;
	    line-height: 24px;
	    letter-spacing: 1px;
	}

	

	.headline .btn {
	    height: 58px;
	    line-height: 58px;
	    padding: 0px 25px 0 25px;
	    font-size: 1.6em;
	}

	.fluid-container .loved {
		font-size: 1.1em;
		margin-top: -70px;
	}
}

@media only screen and (max-width: 992px) {
	.fluid-logo {
		width: 28%;
		padding-top: 42px;
	}

	.btn-responsive {
		top: 26px;
	}

	.headline h1 {
		font-size: 6.2vh;
	    line-height: 41px;
	    letter-spacing: 2px;
	}

	.headline h4 {
		font-size: 2.4vh;
	    line-height: 20px;
	    letter-spacing: 1px;
	}

	.headline .btn {
	    height: 70px;
	    line-height: 70px;
	    padding: 0 30px 0 30px;
	    font-size: 1.8em;
	}
}


@media only screen and (max-width: 600px) {
	.fluid-logo {
		width: 38%;
		padding-top: 42px;
	}

	#menu {
		width: 205px;
	}

	.headline h1 {
		font-size: 5.4vh;
	    line-height: 35px;
	}

	.headline h4 {
		font-size: 2.4vh;
	    line-height: 20px;
	    letter-spacing: 1px;
	    margin-left: 40px;
	    margin-right: 40px;
	}

	.headline .btn {
		height: 60px;
	    line-height: 60px;
	    padding: 0 25px 0 25px;
	    font-size: 1.6em;
	}
}

@media only screen and (max-width: 425px) {
	.fluid-logo {
		width: 48%;
	}

	#main {
		-webkit-transform: translateX(190px);
		transform: translateX(190px);
		-webkit-transform: translate3d(190px,0,0);
		transform: translate3d(190px,0,0);
	}

	#menu {
		width: 190px;
	}

	.btn-responsive {
		top: 26px;
	}

	.headline {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
	}

	.headline h1 {
		font-size: 5vh;
		line-height: 32px;
		text-align: center;
		margin-top: 50px;
	}

	.headline h4 {
		font-size: 2vh;
		line-height: 17px;
		margin-left: 0px;
		margin-right: 0px;
		text-align: center;
	}

	.headline .btn {
		margin-top: 40px;
		float: none;
		margin-left: 90px;
    	margin-right: 90px;
		display: flex;
		justify-content: center;
	}
}

@media only screen and (max-width: 375px) {
	.fluid-logo {
		width: 60%;
	}

	.headline .btn {
		margin-left: 74px;
    	margin-right: 74px;
	}
}

@media only screen and (max-width: 320px) {
	.headline .btn {
		margin-left: 45px;
    	margin-right: 45px;
	}
}