header {
	width: 100%;
	height: 100px;
	position: absolute;
}

.navbar {
	width: 100%;
	height: 100px;
	transition: all .4s linear;
}

.fluid-logo {
	width: 24%;
	float: left;
	padding-top: 40px;
}

.fluid-logo a {
	font-family: 'Roboto';
	font-size: 1.6em;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
}

.fluid-logo .logo-blue {
	color: #24a1fd;
}