* { 
    margin: 0; 
    padding: 0; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing:: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
	font-size: 80%;
	font-family: 'Roboto', sans-serif;
}

::selection {
	background-color: #24a1fd;
	color: #ffffff;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
	max-width: 100%;
}

a {
    color: #ffffff;
    text-decoration: none;
}

button {
    outline: none;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.fluid-container {
    position: absolute;
    left: 60px;
    right: 60px;
    margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

@media only screen and (max-width: 600px) {
    .fluid-container {
    left: 50px;
    right: 50px;
}
}