#start {
  width: 100%;
  margin-top: -620px;
  text-align: center;
}
div .material-icons {
  font-size: 4.2em;
  color: #142a38;
  margin-top: 60px;
}
div h2 {
  font-weight: 700;
  font-size: 3.4em;
  color: #24a1fd;
  text-transform: uppercase;
  margin-top: 6px;
}

.timeline {
    width: 100%;
    height: auto;
    position: relative;
    background: #fff;
    margin-top: 26px;
    margin-bottom: 300px;
}

.timeline ul {
    background: transparent;
    margin-top: -90px;
    margin-bottom: 60px;
}

.timeline ul li {
    list-style-type: none;
  	position: relative;
    width: 26px;
    margin: 0 auto;
    padding-top: 50px;
    background: #142632;
    border-radius: 0px;
}

.timeline ul li span {
    position: absolute;
    top: 359px;
    left: 7px;
    font-weight: 700;
    font-size: 1.7em;
    text-align: center;
    color: #fff;
    z-index: 1;
}

.timeline ul .initial {
    height: 160px;
    border-radius: 50px 50px 0 0;
    -webkit-border-radius: 50px 50px 0 0;
    -moz-border-radius: 50px 50px 0 0;
    -ms-border-radius: 50px 50px 0 0;
    -o-border-radius: 50px 50px 0 0;
}

.timeline ul li::after {
   	content: '';
   	position: absolute;
   	left: 50%;
   	bottom: 0;
   	transform: translateX(-50%);
   	width: 54px;
   	height: 54px;
    /*top: 397px;*/
   	background: #24a1fd;
   	border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.timeline ul .off {
    list-style-type: none;
    position: relative;
    width: 26px;
    margin: 0 auto;
    padding-top: 50px;
    background: #142632;
    border-radius: 0px;
}

.timeline ul .off::after {
    /*top: 397px;*/
}

.timeline ul .initial::after {
    margin-top: -30px;
}

.timeline ul .initial {
    position: relative;
    height: 105px;
    border-radius: 50px 50px 0 0;
    top: 90px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: center;
}

.timeline ul .initial::after {
    background: transparent;
}

.timeline ul .finale {
    height: 105px;
    border-radius: 0px 0px 50px 50px;
    -webkit-border-radius: 0px 0px 50px 50px;
    -moz-border-radius: 0px 0px 50px 50px;
    -ms-border-radius: 0px 0px 50px 50px;
    -o-border-radius: 0px 0px 50px 50px;
}

.timeline ul .finale::after {
    background: transparent;
}

.timeline ul li div {
   	position: relative;
   	bottom: 0;
   	width: 320px;
   	padding: 14px 32px;
   	background: #fff;
    border-radius: 6px;
    box-shadow: 3px 4px 50px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 3px 4px 50px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 3px 4px 50px rgba(0, 0, 0, 0.35);
    -ms-box-shadow: 3px 4px 50px rgba(0, 0, 0, 0.35);
    -o-box-shadow: 3px 4px 50px rgba(0, 0, 0, 0.35);
}

.timeline ul li div h3 {
    font-weight: 700;
    font-size: 2.6em;
    color: #383838;
}

.timeline ul li div h5 {
    font-weight: 500;
    font-size: 1.6em;
    color: #a2a2a2;
    margin-top: -10px;
}

.timeline ul li div p {
    font-size: 1.3em;
    color: #444444;
    line-height: 25px;
    margin-top: 24px;
}

.timeline ul li div .btn-see-more {
    width: auto;
    height: 40px;
    padding: 0 18px 0 18px;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 40px;
    margin: 30px 0 20px 118px;
    background-color: #24a1fd;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: flex-end;
} 

.timeline ul li div .fa {
    font-size: 1.1em; 
    margin-left: 12px;
}

.timeline ul li div::before {
   	content: '';
   	position: absolute;
   	bottom: 7px;
   	width: 0;
   	height: 0;
   	border-style: solid;
}

.timeline ul li:nth-child(odd) div {
   	top: 302px;
   	left: 112px;
    word-wrap: break-word;
}

.timeline ul li:nth-child(odd) div::before {
    top: 12px;
   	left: -16px;
   	border-width: 15px 16px 15px 0;
   	border-color: transparent #24a1fd transparent transparent;
}

.timeline ul li:nth-child(even) div {
    top: 302px;
   	left: -390px;
    word-wrap: break-word;
}

.timeline ul li:nth-child(even) div::before {
    right: -16px;
    top: 11px;
    border-width: 15px 0 15px 16px;
    border-color: transparent transparent transparent #24a1fd;
}

.timeline .scrollTop {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 70px;
    right: 70px;
    display: none;
    background-color: #24a1fd;
    z-index: 2;
}

.timeline .material-icons {
    color: #fff;
    font-size: 3.4em;
    margin-top: 6px;
    margin-left: 2px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}

@media only screen and (min-width: 2560px) {
  #wrapper #start {
    margin-top: -1180px;
  }

  .timeline ul li:nth-child(even) div {
    top: 391px;
    left: -620px;
  }

  .timeline .scrollTop {
    width: 100px;
    height: 100px;
    right: 80px;
    bottom: 80px;
  }

  .timeline .material-icons {
    font-size: 6.4em;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 1920px) {
  #start {
    margin-top: -1040px;
  }

  .timeline ul li {
    width: 40px;
  }

  .timeline ul .off {
    width: 40px;
  }

  .timeline ul li::after {
    width: 80px;
    height: 80px;
    top: 424px;
  }

  .timeline ul li span {
    top: 441px;
    left: 11px;
    font-size: 2.5em;
  }

    .timeline ul li div {
    width: 550px;
    padding: 28px 48px;
  }

  .timeline ul li div h3 {
    font-size: 3.6em;
  }

  .timeline ul li div h5 {
    font-weight: 500;
    font-size: 2.3em;
  }

  .timeline ul li div p {
    font-size: 2em;
    line-height: 40px;
  }

  .timeline ul li div .btn-see-more {
    height: 60px;
    padding: 0 38px 0 38px;
    font-size: 2.2em;
    font-weight: 600;
    line-height: 60px;
    margin: 30px 0 20px 205px;
} 

  .timeline ul li:nth-child(odd) div {
    top: 378px;
    left: 109px;
    word-wrap: break-word;
  }

  .timeline ul li:nth-child(odd) div::before {
    top: 9px;
    left: -27px;
    border-width: 25px 26px 25px 0px;
    border-color: transparent #24a1fd transparent transparent;
  }

  .timeline ul li:nth-child(even) div {
    top: 377px;
    left: -620px;
  }

  .timeline ul li:nth-child(even) div::before {
    right: -27px;
    top: 11px;
    border-width: 25px 0 25px 26px;
    border-color: transparent transparent transparent #24a1fd;
  }
}

@media only screen and (max-width: 1440px) {
  #start {
    margin-top: -680px;
  }

  .timeline ul li::after {
    top: 346px;
  }

  .timeline ul li span {
    top: 358px;
  }

  .timeline ul li:nth-child(odd) div {
    left: 96px;
    top: 296px;
  }

  .timeline ul li:nth-child(even) div {
    top: 298px;
  }
}

@media only screen and (max-width: 1199px) {
  #start {
    margin-top: -600px;
  }

  .timeline ul li span {
    top: 357px;
  }

  .timeline ul li:nth-child(odd) div {
    left: 96px;
  }

  .timeline .scrollTop {
    bottom: 50px;
    right: 50px;
  }
}

@media only screen and (max-width: 1024px) {
  .timeline ul li::after {
    top: 344px;
  }
}

@media only screen and (max-width: 992px) {
  .timeline ul li span {
    top: 355px;
  }

  .timeline .scrollTop {
    bottom: 30px;
    right: 30px;
  }
}

@media only screen and (max-width: 900px) {
  .timeline ul li::after {
    top: 390px;
  }

  .timeline ul .off::after {
    top: 390px;
  }

  .timeline ul li span {
    top: 404px;
  }

  .timeline ul li div {
    width: 250px;
  }

  .timeline ul li:nth-child(odd) div {
    left: 64px;
    top: 342px;
    word-wrap: break-word;
  }

  .timeline ul li:nth-child(odd) div::before {
    right: 250px;
  }

  .timeline ul li:nth-child(even) div {
    left: -288px;
    top: 342px;
    word-wrap: break-word;
  }

  .timeline ul li div .btn-see-more {
    margin: 30px 0 20px 54px;
  } 
}

@media only screen and (max-width: 600px) {
  #start {
    text-align: left;
    margin-left: 8px;
    margin-top: -610px;
  }

  .timeline ul li {
    margin-left: 10px;
  }

  .timeline ul .off {
    margin-left: 10px;
  }

  .timeline ul li::after {
    top: 315px;
  }

  .timeline ul .off::after {
    top: 315px;
  }

  .timeline ul li span {
    top: 330px;
  }

  .timeline ul li div {
    width: calc(100vw - 121px);
  }

  .timeline ul li div .btn-see-more {
    margin: 30px 0 20px 0;
    -webkit-flex-flow: row wrap;
    justify-content: center;
  }

  .timeline ul li:nth-child(odd) div {
    left: 60px;
    top: 266px;
    word-wrap: break-word;
  }

  .timeline ul li:nth-child(odd) div::before {
    left: -16px;
    border-width: 15px 0 15px 16px;
    border-color: transparent transparent transparent #24a1fd;
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }

  .timeline ul li:nth-child(even) div {
    left: 60px;
    top: 268px;
    word-wrap: break-word;
  }

  .timeline ul li:nth-child(even) div::before {
    left: -16px;
    border-width: 15px 0 15px 16px;
    border-color: transparent transparent transparent #24a1fd;
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }  
}

@media only screen and (max-width: 320px) {
  #start {
    margin-top: -560px;
  }
}